
body {
  background-color: black;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid darkslateblue;
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  z-index: 2;
  background-image: url("./Snake-Body.png");
  background-size: cover;
}

#snake-head {
  background-image: url("./Snake-Head.png");
  background-size: cover;
}

.apple {
  background-color: white;
  z-index: 1;
}